.canvas-wrapper {
  position: relative;
  width: 100%;
  max-width: 500px; /* ajustable */
  aspect-ratio: 1/1; /* cuadrado perfecto */
}
.canvas-wrapper canvas {
  width: 100%;
  height: 100%;
}
.canvas-wrapper input {
  position: absolute;
  width: 50px;
  padding: 5px;
  z-index: 10;
  text-align: center;
  border: 2px solid #b2b2b2;
  border-radius: 10px;
}

.canvas-wrapper .inputX {
  top: 67%;
  right: 5%;
}
.canvas-wrapper .inputY {
  top: 10%;
  left: 10%;
}
.canvas-wrapper .inputXY {
  top: 25%;
  left: 75%;
  transform: translateX(-50%);
}

.canvas-wrapper-deriv {
  position: relative;
  margin-top: -120px;
  width: 100%;
  max-width: 600px;
  aspect-ratio: 1 / 1;
}

.canvas-wrapper-deriv canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.canvas-wrapper-deriv input {
  position: absolute;
  width: 50px;
  padding: 5px;
  border: 2px solid #b2b2b2;
  border-radius: 10px;
  text-align: center;
  z-index: 10;
  transform: rotate(var(--rotation-angle, -30deg));
  transform-origin: center center;
}

.canvas-wrapper-deriv .inputX {
  top: 57%;
  right: 15%;
}
.canvas-wrapper-deriv .inputY {
  top: 40%;
  left: 13%;
}
.canvas-wrapper-deriv .inputXY {
  top: 33%;
  left: 50%;
}
.canvas-wrapper-deriv .inputTheta {
  bottom: 7%;
  right: -2%;
  transform: translateX(-50%);
}

.squared {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.calcular {
  margin-top: 5px;
  background-color: lawngreen;
  border-radius: 20px;
}
.civil,
.fni {
  margin-bottom: 0px;
  width: 90px;
  height: 90px;
  margin-right: 200px;
  margin-left: 200px;
}
@media (max-width: 1000px) {
  .squared {
    display: initial;
  }
  .canvas-wrapper-deriv {
    margin-top: -60px;
  }
  .canvas-wrapper input,
  .canvas-wrapper-deriv input {
    width: 25px;
    font-size: 10px;
  }
  .civil,
  .fni {
    margin: 0;
    width: 60px;
    height: 60px;
    margin-right: 30px;
    margin-left: 30px;
  }
}

.univ-name {
  margin: 0;
  font-size: 16px;
}
select {
  border-radius: 20px;
}
.data-results {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 2px solid #000;
  margin-bottom: 20px;
}
.data-results p {
  margin-bottom: 1px;
  font-size: 16px;
}
.data-results strong {
  font-weight: 600;
}
@media (prefers-color-scheme: dark) {
  .data-results {
    border: 2px solid #fff;
  }
}
.reset {
  margin-top: 5px;
  background-color: blue;
  border-radius: 20px;
}
